@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #606060;
    --cor2: #000000;
    --cor3: #F23838;
    --cor4: #F38981;
    --cor5: #F1F1F1;
    --cor6: #fff;
    --cor7: #CCCCCC;

    --font: 'Raleway', sans-serif;
}
body{
    font-family: var(--font);
    width: 100%;
}
main{
    background-color: var(--cor5);
    width: 100%;
    padding: 80px 15px 0px 15px;
}
ul, li{
    list-style: none;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    display: block;
}
h1{
    font-weight: 400;
}
input{
    height: 40px;
}

        /* HEADER */

header{
    background: var(--cor6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#logo{
    display: flex;
    align-items: center;
}
#header-location{
    font-size: 1.4em;
    color: var(--cor3);
}
#logo-txt{
    font-size: 1.8em;
    font-weight: 600;
    color: var(--cor3);
    margin-left: 15px;
}
#header-search{
    font-size: 1.6em;
    color: var(--cor1);
    cursor: pointer;
}

        /* HERO */
#hero{
    width: 100%;
}
/* NAV */
#hero-items{
    flex-direction: row;
}
.hero-item,
.hero-item > a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    color: var(--cor6);
    font-size: 0.95em;
}
#hero-flight{
    background-color: var(--cor3);
}
#hero-hotel,
#hero-rental{
    background-color: var(--cor2);
}
#hero-rental{
    padding-right: 30px;
}
/* FORM */
#hero-title-form{
    font-size: 1.6em;
    margin: 30px 0 0 15px;
}
#hero-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#hero-form-from,
#hero-form-to{
    border: 1px solid var(--cor7);
}
#hero-form-from::-webkit-input-placeholder,
#hero-form-to::-webkit-input-placeholder{
    color: var(--cor7);
}
#hero-form-submit{
    width: 65%;
    height: 40px;
    border: none;
    background-color: var(--cor1);
    color: var(--cor6);
    margin: 15px 0 20px 0;
    cursor: pointer;
}
#hero-form-submit:valid{
    font: normal 400 1em var(--font);
}

        /* PRODUCTS */
/* DISCOUNT */
#discount-title{
    margin-bottom: 15px;
}
#discount-sub-t{
    margin-bottom: 15px;
}
#discount-list > li{
    margin-bottom: 15px;
}
.discount-item{
    display: grid;
}
.discount-item > img{
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}
.discount-item > p{
    color: var(--cor6);
    padding: 0 0 15px 15px;
    grid-column: 1;
    grid-row: 2/3;
    align-self: end;
}
/*Explore Nature*/
#explore-title{
    margin: 10px 0 20px 0;
}
#explore-sub-t{
    font-size: 0.95em;
    margin-bottom: 20px;
}
.explore-item{
    background-color: var(--cor6);
    margin-bottom: 20px;
}
.explore-item h1{
    margin-top: 10px;
}
.explore-item > p,
.explore-item > h1,
.explore-item > a{
    margin-left: 15px;
    margin-bottom: 20px;
}
.explore-price{
    color: var(--cor7);
}
.explore-btn{
    margin-left: 30px;
}
.explore-btn:hover{
    text-decoration: underline;
}

        /* NEWSLETTER */
#newsletter{
    background-color: var(--cor1);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 0px #0000004b;
    color: white;  
}
#newsletter-title{
    font-size: 1.8em;
    line-height: 1.5em;
}
#newsletter-sub-t{
    margin: 20px 0;
}
#newsletter-form{
    display: flex;
    flex-direction: column;
}
#newsletter-input-email{
    padding-left: 10px;
    margin-bottom: 20px;
}
#newsletter-input-email::-webkit-input-placeholder{
    color: var(--cor7);
}
#newsletter-input-btn{
    width: 40%;
    height: 40px;
    background-color: var(--cor4);
    color: var(--cor6);
    border: none;
    cursor: pointer;
}
        /* CONTACT */
/* LIST */
#contact-title{
    font-size: 1.8em;
    margin-bottom: 20px;
}
#contact-sub-t{
    margin-bottom: 20px;
}
.contact-item{
    flex-direction: row;
    margin-bottom: 5px;
}
.contact-item > p{
    margin-left: 20px;
}
#contact-local > p{
    margin-left: 25px;
}
/* FORM */
#contact-form{
    display: flex;
    flex-direction: column;
}
#contact-form > input{
    margin-bottom: 20px;
    border: 1px solid var(--cor7);
}
.contact-input-txt{
    height: 50px;
    padding-left: 10px;
}
.contact-input-txt::-webkit-input-placeholder{
    color: var(--cor7);
}
#contact-input-btn{
    width: 60%;
    height: 50px;
    background-color: var(--cor2);
    color: var(--cor6);
    cursor: pointer;
}

        /* FOOTER */
footer{
    background-color: var(--cor5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-title{
    text-align: center;
    font-size: 1.2em;
    color: var(--cor1);
    margin-bottom: 40px;
}
#footer-nav > a{
    color: var(--cor1);
    display: inline;
    font-size: 1.4em;
}
#footer-nav{
    margin-bottom: 80px;
}

@media (min-width: 450px){
    #hero-rental{
        padding-right: 130px;
    }
}
@media (min-width: 768px){
    header{
        justify-content: space-around;
    }
    /* HERO */
    #hero{
        background: url(../imagens/london.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        padding: 70px 0;
    }
    #hero > div{
        background-color: var(--cor6);
        width: 70%;
        margin: auto;
    }
    .hero-item > a{
        justify-content: center;
    }
    .hero-item > a > i{
        margin-right: 15px;
    }
    #hero-rental{
        padding-right: 0;
    }
    #hero-form{
        display: grid;
    }
    #hero-form-f,
    #hero-form-to-txt{
        grid-row: 1/3;
    }
    #hero-form-from{
        margin-right: 20px;
    }
    
    /* DISCOUNT */
    #discount-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        margin: 0;
    }
    #discount-list > li{
        margin-bottom: 0;
    }
    .discount-item{
        margin: 0;
    }
    #cinque{
        grid-row: 1/3;
        grid-column: 1/3;
    }
    /* EXPLORE */
    #explore-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    /* NEWSLETTER */
    #newsletter-input-btn{
        width: 15%;
    }

    /* CONTACT */
    #contact-input-btn{
        width: 25%;
    }
}
@media (min-width: 1366px){
    /* HEADER */
    header{
        justify-content: space-between;
    }
    /* HERO */
    #hero{
        height: 700px;
    }
    /* MAIN */
    main{
        padding: 40px 140px 0 140px;
    }
}